@{
    ViewBag.Title = "Lista de Personagem \"Javascript\"";
}

<div class="row">
    <div class="col-md-12">
        <h2>Lista dos Personagens</h2>
        <div class="col-md-12 listagem">
            <div class="col-md-2"><strong>Modos de busca</strong></div>
            <div class="col-md-1">
                <input type="radio" id="nome" name="mBusca" value="nome">
                <label for="nome">Nome</label>
            </div>
            <div class="col-md-1">
                <input type="radio" id="status" name="mBusca" value="status">
                <label for="status">Status</label>
            </div>
            <div class="col-md-2">
                <input type="radio" id="genero" name="mBusca" value="genero">
                <label for="genero">Gênero</label>
            </div>
            <div class="col-md-6 area_form_control">
                <div class="col-md-9">
                    <input type="text" class="form-control fc_nome" id="personagem" name="personagem" placeholder="Digite o nome de um Personagem">
                    <select class="form-control form-control-sm fc_status">
                        <option></option>
                        <option value="Alive">Alive</option>
                        <option value="Dead">Dead</option>
                        <option value="Unknown">Não definido</option>
                    </select>
                    <select class="form-control form-control-sm fc_genero">
                        <option></option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Unknown">Não definido</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button value="" id="btmBusca" class="btn btn-default">Busca</button>
                </div>
            </div>
            <table id="div1" class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">
                            Personagem
                        </th>
                        <th scope="col" width="130px">
                            Status
                        </th>
                        <th scope="col" width="130px">
                            Gênero
                        </th>
                        <th scope="col" width="50px">IMG</th>
                        <th scope="col" width="50px"></th>
                    </tr>
                </thead>
                <tbody class="lista_content"></tbody>
            </table>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-5 "></div>
                    <div class="col-md-2 ">
                        <button value="" id="btmVoltar" class="btn btn-default hidden">Voltar</button>
                        <button value="" id="btmProximo" class="btn btn-default">Proximo</button>
                    </div>
                    <div class="col-md-5 "></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function LimparBuscasAnteriores(){
            $( ".fc_nome" ).val("")
            $( ".fc_status" ).prop('selectedIndex',0);
            $( ".fc_genero" ).prop('selectedIndex',0);

            $( ".area_form_control" ).css("display", "none");
            $( ".fc_nome" ).css("display", "none");
            $( ".fc_status" ).css("display", "none");
            $( ".fc_genero" ).css("display", "none");
        }

        $("input[name=mBusca]").click(function() {
            LimparBuscasAnteriores()
            let busca = document.querySelector('input[name=mBusca]:checked').value

            if(busca == "nome"){
                $( ".fc_nome" ).css("display", "initial");
                $( ".area_form_control" ).css("display", "initial");
            }
            if(busca == "status"){
                $( ".fc_status" ).css("display", "initial");
                $( ".area_form_control" ).css("display", "initial");
            }
            if(busca == "genero"){
                $( ".fc_genero" ).css("display", "initial");
                $( ".area_form_control" ).css("display", "initial");
            }
        });

        $( "#btmBusca" ).click(function() {
            let buscaNome = document.querySelector('.fc_nome').value
            let buscaStatus = document.querySelector('.fc_status').value
            let buscaGenero = document.querySelector('.fc_genero').value

            BuscaGeral(buscaNome, buscaStatus, buscaGenero)
        });
    </script>
}